<div class="container">
    <div class="vertical-cards">
        <div class="card">
            <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="spotifyLogo">
        </div>
        <div class="card">
            <ul>
                <p>COMPANY</p>
                <li>About</li>
                <li>Jobs</li>
                <li>For the Record</li>
            </ul>
        </div>
        <div class="card">
            <ul>
                <p>COMMUNITIES</p>
                <li>For Artists</li>
                <li>Developer</li>
                <li>Advertising</li>
                <li>Investors</li>
                <li>Vendors</li>
            </ul>
        </div>
        <div class="card">
            <ul>
                <p>USEFULL LINKS</p>
                <li>Support</li>
                <li>Web Players</li>
                <li>Free Mobile App</li>
            </ul>
        </div>
        <div class="card social-card">
            <div class="social">
                <fa-icon [icon]="Instagram" class="fa-"></fa-icon>
            </div>
            <div class="social">
                <fa-icon [icon]="Twitter" class="fa-"></fa-icon>
            </div>
            <div class="social">
                <fa-icon [icon]="Facebook" class="fa-"></fa-icon>
            </div>
        </div>
        
    </div>
    <div class="horizontal-card">
        <div class="legal">
            <p>Legal</p>
            <p>Privacy Center</p>
            <p>Privacy Policy</p>
            <p>Cookies</p>
            <p>About Ads</p>
            <p>Cookie Settings <span><img src="../../../assets/checkXImg.png" alt=""></span></p>
        </div>
        <div class="usa">
            <p class="country">
                <fa-icon [icon]="Earth"></fa-icon> USA
            </p>
            <p>&#169; 2023 Spotify AB</p>
        </div>
    </div>
</div>