<div class="main">
    <h1>Why go Premium?</h1>
    <div class="benifits">
        <div class="benifit-card">

            <img src="../../../assets/downloadImg.png" alt="">
            <div>
                <h3>Download music.</h3>
                <p>Listen anywhere.</p>
            </div>
        </div>
        <div class="benifit-card">

            <img src="../../../assets/noAddImg.png" alt="">
            <div>
                <h3>Ad-free music listening.</h3>
                <p>Enjoy nonstop music.</p>
            </div>
        </div>
        <div class="benifit-card">

            <img src="../../../assets/anySongImg.png" alt="">
            <div>
                <h3>Play any song.</h3>
                <p>Even on mobile.</p>
            </div>
        </div>
        <div class="benifit-card">

            <img src="../../../assets/unlimitedSkipImg.png" alt="">
            <div>
                <h3>Unlimited skips.</h3>
                <p>Just hit next.</p>
            </div>
        </div>
    </div>
</div>