<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet">
  <title>Spotify Premium - Spotify (US)</title>
</head>

<body>
  <div class="wrapper">
    <app-navbar></app-navbar>
    <app-main></app-main>
    <app-why-premium></app-why-premium>
    <app-pick-premium></app-pick-premium>
    <app-footer></app-footer>
  </div>
</body>

</html>