<div class="container">
    <h1>Pick your Premium</h1>
    <p>Listen without limits on your phone, speaker, and other devices.</p>
    <img src="../../../assets/payments.png" alt="payments">
    <div class="prices">
        <div class="price-card">
            <div class="upperWrap">
                <p class="free y-space">2 months free</p>
                <h2 class="y-space">Individual</h2>
                <p class="desc y-space">$9.99/month after offer period</p>
                <p class="accounts y-space">1 account</p>
                <hr>
                <div class="features-cont">
                    <div class="feature-div">
                        <img src="../../../assets/checkImg.png" alt="">
                        <p class="feature">
                            Ad-free music listening.
                        </p>
                    </div>
                    <div class="feature-div">
                        <img src="../../../assets/checkImg.png" alt="">
                        <p class="feature">
                            Play anywhere - even offline.
                        </p>
                    </div>
                    <div class="feature-div">
                        <img src="../../../assets/checkImg.png" alt="">
                        <p class="feature">
                            On-demand playback.
                        </p>
                    </div>
                </div>
            </div>
            <div class="btn-cont y-space">
                <button class="btn">GET STARTED</button>
            </div>
            <p class="extra y-space">Monthly subscription fee applies after. 2 months free only open to users who
                haven't already tried Premium. Offer ends March 31, 2023. <span>Terms and conditions apply.</span>
            </p>
        </div>
        <div class="price-card">
            <div class="upperWrap">
                <p class="free y-space">2 months free</p>
            <h2 class="y-space">Student</h2>
            <p class="desc y-space">$4.99/month after offer period</p>
            <p class="accounts y-space">1 account</p>
            <hr>
            <div class="features-cont">
                <div class="feature-div">
                    <img src="../../../assets/checkImg.png" alt="">
                    <p class="feature">
                        Hulu (With Ads) plan.
                    </p>
                </div>
                <div class="feature-div">
                    <img src="../../../assets/checkImg.png" alt="">
                    <p class="feature">
                        SHOWTIME.
                    </p>
                </div>
                <div class="feature-div">
                    <img src="../../../assets/checkImg.png" alt="">
                    <p class="feature">
                        Ad-free music listening.
                    </p>
                </div>
                <div class="feature-div">
                    <img src="../../../assets/checkImg.png" alt="">
                    <p class="feature">
                        Play anywhere - even offline.
                    </p>
                </div>
                <div class="feature-div">
                    <img src="../../../assets/checkImg.png" alt="">
                    <p class="feature">
                        On-demand playback.
                    </p>
                </div>
            </div>
            </div>
            <div class="btn-cont y-space">
                <button class="btn">GET STARTED</button>
            </div>
            <p class="extra y-space">Offer currently includes access to Hulu (With Ads) plan and SHOWTIME Streaming
                Service, subject to eligibility. Available only to students at an accredited higher education
                institution. 2 months free only open to higher education students who haven't already tried Premium.
                Offer ends March 31, 2023. <span>Terms and conditions apply.</span></p>
        </div>
        <div class="price-card">
            <div class="upperWrap">
                <p class="free y-space">2 months free</p>
            <h2 class="y-space">Duo</h2>
            <p class="desc y-space">$12.99/month after offer period</p>
            <p class="accounts y-space">2 account</p>
            <hr>
            <div class="features-cont">
                <div class="feature-div">
                    <img src="../../../assets/checkImg.png" alt="">
                    <p class="feature">
                        2 Premium accounts for a couple under one roof.
                    </p>
                </div>
                <div class="feature-div">
                    <img src="../../../assets/checkImg.png" alt="">
                    <p class="feature">
                        Ad-free music listening, play offline, on-demand playback.
                    </p>
                </div>
            </div>
            </div>
            <div class="btn-cont y-space">
                <button class="btn">GET STARTED</button>
            </div>
            <p class="extra y-space"><span>Terms and conditions apply.</span> 1 month free not available for users who
                have already tried Premium</p>
        </div>
        <div class="price-card">
            <div class="upperWrap">
                <p class="free y-space">2 months free</p>
                <h2 class="y-space">Family</h2>
                <p class="desc y-space">$15.99/month after offer period</p>
                <p class="accounts y-space">6 account</p>
                <hr>
                <div class="features-cont">
                    <div class="feature-div">
                        <img src="../../../assets/checkImg.png" alt="">
                        <p class="feature">
                            6 Premium accounts for family members living under one roof.
                        </p>
                    </div>
                    <div class="feature-div">
                        <img src="../../../assets/checkImg.png" alt="">
                        <p class="feature">
                            Block explicit music.
                        </p>
                    </div>
                    <div class="feature-div">
                        <img src="../../../assets/checkImg.png" alt="">
                        <p class="feature">
                            Ad-free music listening, play offline, on-demand playback.
                        </p>
                    </div>
                    <div class="feature-div">
                        <img src="../../../assets/checkImg.png" alt="">
                        <p class="feature">
                            Spotify Kids: a separate app made just for kids.
                        </p>
                    </div>
                </div>
            </div>
            <div class="btn-cont y-space">
                <button class="btn">GET STARTED</button>
            </div>
            <p class="extra y-space"><span>Terms and conditions apply.</span> 1 month free not available for users who
                have already tried Premium</p>
        </div>

    </div>
</div>