<div class="main">
    <div class="mainText">
        <p class="mainTextHeading">Get Premium free for 2 months</p>
        <p class="mainTextPara">Limited time offer for Individual or Student plans. Cancel anytime.</p>
        <button class="btn startedBtn">GET STARTED</button>
        <button class="btn viewBtn">VIEW PLANS</button>
        <p class="mainTextExtra"><span>Terms and conditions apply. </span>Monthly subscription fee applies after. 2 months free only open to users who haven't already tried Premium. Offer ends March 31, 2023</p>
    </div>
    <div class="mainImg">
        <img src="../../../assets/mainImage.png" alt="">
    </div>
</div>